.homePage {
  .intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    p {
      font-size: var(--app-heading-size);
      display: flex;
      align-items: center;
      height: 100px;
    }
  }
  .headingContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: var(--app-spacing-large);
    height: var(--app-spacing-xl);
    .logout {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: var(--app-spacing-medium);
    }
  }
}

@media (min-width: 768px) {
  .homePage {
    border: solid 1px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100vw;
  }
}
